<ion-header>
  <ion-toolbar>
    <ion-title>Autômatos Finitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-label>Definição</ion-label>
      <ion-item>
        <ul>
          <li>Podem ser aplicadas em analisadores léxicos, design de hardware</li>
          <li>Apenas armazenam o estado atual</li>
          <li>São definidas pela quíntula</li>
        </ul>
      </ion-item>
      <ion-label>Mega Man X</ion-label>
      <ion-item>
        <ul>
          <li>Podem ser <a href="#det">determinísticos</a> ou <a href="#notdet">não</a></li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header id="det">
      <ion-card-title>Determinísticos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Possui apenas um estado que pode transitar para cada input.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header id="notdet">
      <ion-card-title>Não Determinísticos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Possui múltiplas transições de um estado atual para cada input.
      http://www.din.uem.br/yandre/lfa.htm
      
      http://www.din.uem.br/yandre/TC/lista1-resp.pdf
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Como ler ab*c...?
      </ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>